{% extends 'base.html.twig' %}

{% if archive is defined %}
    {% set page_title %}
        Archive des playlists et des chaînes
    {% endset %}
{% else %}
    {% set page_title %}
        Index des playlists et des chaînes
    {% endset %}
{% endif %}

{% block title %} {{ page_title }} {% endblock %}

{% block body %}
    {% import '_index.twig' as table %}
    <h3>Chaînes archivées</h3>
    {{ table.renderTable(channels, 'channels') }}
    <hr>
    <h3>Playlists archivées</h3>
    {{ table.renderTable(playLists, 'playlists') }}

{% endblock %}
